---
---

$body-padding-top: 90px;
$quote-background-color: inherit;
$quote-color: inherit;

{% include read-config.liquid %}
{% case config.customize.theme %}

{% when 'cerulean' %}

$status-color: #888;
$status-color-active: #88f;

{% when 'cosmo' %}

$status-color: #888;
$status-color-active: #88f;

{% when 'cyborg' %}

$status-color: #888;
$status-color-active: #29d;

{% when 'darkly' %}

$status-color: #888;
$status-color-active: #0b8;

{% when 'flatly' %}

$status-color: #bbb;
$status-color-active: #88f;

{% when 'journal' %}

$status-color: #bbb;
$status-color-active: #e66;

{% when 'litera' %}

$status-color: #888;
$status-color-active: #88f;

{% when 'lumen' %}

$status-color: #888;
$status-color-active: #88f;

{% when 'lux' %}

$status-color: #ccc;
$status-color-active: #000;
$body-padding-top: 120px;

{% when 'materia' %}

$status-color: #ccc;
$status-color-active: #29f;
$body-padding-top: 110px;

{% when 'minty' %}

$status-color: #ccc;
$status-color-active: #7ca;

{% when 'pulse' %}

$status-color: #ccc;
$status-color-active: #539;

{% when 'sandstone' %}

$status-color: #ccc;
$status-color-active: #9c4;

{% when 'simplex' %}

$status-color: #ccc;
$status-color-active: #d20;

{% when 'sketchy' %}

$status-color: #ccc;
$status-color-active: #29f;

{% when 'slate' %}

$status-color: #888;
$status-color-active: #fff;

{% when 'solar' %}

$status-color: inherit;
$status-color-active: #2a9;

{% when 'spacelab' %}

$status-color: #ccc;
$status-color-active: #29f;

{% when 'superhero' %}

$status-color: #ccc;
$status-color-active: #d61;

{% when 'united' %}

$status-color: #ccc;
$status-color-active: #e52;

{% when 'yeti' %}

$status-color: #ccc;
$status-color-active: #29f;

{% else %} // default

$status-color: #888;
$status-color-active: #88f;

{% endcase %}


.status {
  color: $status-color;
}

.status-active {
  color: $status-color-active;
}

body {
  padding-top: $body-padding-top !important;
}


blockquote {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid $status-color-active;
  line-height: 1.2em;
  //font-weight: 100;
  //&:before, &:after {
  //  content: '\201C';
  //  font-family: 'Sanchez';
  //  color: lighten($black, 40%);
  //}
  //&:after {
  //  content: '\201D';
  //}
}

blockquote strong {
  font-weight: bolder;
}

// fix for FB comment resize/full-width bug
.fb_iframe_widget_lift, .fb_iframe_widget_fluid span, iframe.fb_ltr {
  width: 100% !important;
}