---
---

/* Some vars */
$background-color: hsl(50, 5, 97);
$black: hsl(200, 40, 10);
$white: $background-color;
//$base-font-size: 2.4em;
//$base-line-height: 1.5em;
$base-font-size: 1.0em;
$base-line-height: 1.2em;

blockquote {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid lighten($black, 40%);
  //font-family: 'Roboto', serif;
  //font-size: $base-font-size;
  line-height: $base-line-height;
  //font-weight: 100;
  //&:before, &:after {
  //  content: '\201C';
  //  font-family: 'Sanchez';
  //  color: lighten($black, 40%);
  //}
  //&:after {
  //  content: '\201D';
  //}
}

blockquote strong {
  font-weight: bolder;
  //color: red;
}