{% include read-config.liquid %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-nav {% if config.navbar.fixed %}fixed-top{% endif%}">
  {% if config.navbar.container %}<div class="container">{% endif %}
  <a class="navbar-brand" href='{{ "/" | relative_url }}'>{{ config.metadata.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for link in config.navbar.content %}
        {% assign textLength = link[1].text | size %}
        {% if textLength > 0 %}
          <li class="nav-item xx-active">
            <a class="nav-link" href='{{ link[1].href | replace: "~/", "/" | relative_url }}' target='{{link[1].targ | default: ""}}' title="{{link[1].desc}}">{{link[1].text}}</a>
          </li>
        {% else %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{link[1].display}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for sublink in link[1] %}
                {% if sublink[0] == "display" %}
                  <!-- do nothing -->
                {% elsif sublink[0] contains "divider" %}
                  <div class="dropdown-divider"></div>
                {% else %}
                  {% if sublink[1].href contains "http" %}
                    <a class="dropdown-item" href='{{ sublink[1].href }}' target='{{sublink[1].targ | default: ""}}' title="{{sublink[1].desc}}">{{sublink[1].text}}</a>
                  {% else %}
                    <a class="dropdown-item" href='{{ sublink[1].href | replace: "~/", "/" | relative_url }}' target='{{sublink[1].targ | default: ""}}' title="{{sublink[1].desc}}">{{sublink[1].text}}</a>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get" action='{{ "/search.html" | relative_url | append: "?q=joe+hall" }}'>
      <div>
        <input class="form-control mr-sm-2 typeahead" type="text" name="txtSearch" id="txtSearch" placeholder="Search" aria-label="Search">
      </div>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
{% comment %}<!--
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get" action='{{ "/search.html" | relative_path | append: "?q=joe+hall" }}'>
      <div>
      <input class="form-control mr-sm-2 typeahead" type="text" id="txtSearch" placeholder="Search" aria-label="Search">
      </div>
      <input id="hidSearch" type="hidden" name="q" value="joe hall" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  -->{% endcomment %}

  {% if config.navbar.container %}</div>{% endif %}
</nav>
