---
layout: default
---

<article class="post">

    <header class="post-header">
        {% if page.title != "" and page.title != nil and page.showTitle != false %}
        <h1 class="post-title">{{ page.title | escape }}</h1>
        {% endif %}
    </header>

    <div class="post-content">
        {{ content }}
    </div>

    {% if config.comments.provider != "" and config.comments.provider != nil %}
    <hr/>
    <h3>Feedback, Comments, and Corrections</h3>
    {% include comments.liquid %}
    {% endif %}
</article>
